<h2>{{playlist.title}}</h2>
{{playlist.id}}
<hr />

<ul>
    {{#each playlist.tracks}}
        <li>
            {{number}} : 
            <a href={{playlist.id}}?track={{this.number}}>{{title}}</a>
        </li>
    {{/each}}
</ul>

<div class="formContainer">
    <h3>add track</h3>
    <form class="trackForm" action="/playlists/{{playlist.id}}" method="POST">
        <input type="hidden" name="_csrf" value={{csrf}}></input>
        <div>
            <label for="fieldUrl">Url</label>
            <input type="text" name="fieldUrl" value="https://soundcloud.com/foretdevin/its-christmas"/>
        </div>
            <input type="radio" name="type" value="youtube" />YouTube
            <input type="radio" name="type" value="soundcloud" checked />SoundCloud
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>

<hr />
{{#if showTrack}}
    <div id="trackPlayer"></div>
    <div id="ytplayer"></div>
    <div id="player"></div>

    <p id="endMessage"></p>
{{/if}}